@model Twtter.Application.Models.TweetsListModel


@{
    ViewBag.Title = "Home";
}

<h1>@ViewBag.Title</h1>

<div class="jumbotron">
    <h1>ASP.NET Fake Tweeter</h1>
</div>

<div class="row">
    <div class="col-md-7">
        @foreach (var tweet in @Model.Tweets)
        {
            <span>@tweet.CreatedOn.ToString("dd-MM-yyyy")</span>
            <a href="@string.Format("tweet/get/{0}",tweet.Id)">@tweet.Title</a>
            <p>By: @(tweet.Author != null ? tweet.Author.UserName : "Dont have.")</p>
            <h3>@(tweet.Title)</h3>
            <p>@tweet.Text</p>
        }
    </div>

    <div class="col-md-5">
        <h3>New tweet</h3>
        @*//TODO: Post*@
        @using (Html.BeginForm("Create","Tweets"))
        {
            <form action="/Tweets/Create" method="post">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="name" placeholder="Title"/>
                </div>
                <div>
                    <label for="text">Text:</label>
                    <textarea id="text" name="text" rows="10" cols="50"></textarea>
                </div>
                <div>
                    <input type="submit" value="Send"/>
                </div>
            </form>
        }
    </div>
</div>